.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 10vh;
  padding: 20px;
  color: white;
}

.App-footer {
  background-color: #222;
  height: 5vh;
  padding: 0px;
  color: lightGrey;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.inline-block{
  display: inline-block;
}
.topic{
  font-size: 1.5em;
  color: white;
  text-decoration: underline;
  margin-bottom: 5px;
}
.top-text{
  color: lightBlue;
  margin-top: 0px;
  font-size: 1.5em;
}
.control-field{
  height: 80vh;
  /*width: 100vw;*/
  margin: 0 auto;
  border: 5px solid black;
  /*padding:10px;*/
  background-color: teal;
}
.flash-card{
  margin: 0 auto;
  margin-bottom:5px;
  /*border: 1px solid blue;*/
  height: 400px;
  width: 700px;
  display: table-cell;
  vertical-align:middle;
  text-align:center;
  background: white;
  /*padding: 0px 45px 0px 45px;*/
}
.next-button{
  margin: 5px 0px 5px 50px;
  padding: 5px;
  border: 1px solid green;
  height: 50px;
  width: 100px;
}

.switch-button:hover, .next-button:hover{
  background: lightBlue;
}

.switch-button{
  margin: 5px 50px 20px 0px;
  padding: 5px;
  border: 1px solid green;
  height: 50px;
  width: 100px;
} 
.reset-text{
  margin-top: 3%;
  color: white
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*@media screen {
  
}*/

@media (max-width: 480px) {
 .control-field{
  width: 97vw;
  height: 80vh;
  margin: 0 auto;
 }
 .top-text{
   color: lightBlue;
   margin-top: 8%;
   margin-bottom: 5%;
 }
  .App-footer img{
    display: none;
  }
  .App-footer{
    height: 3vh;
    padding: 0;
  }
  .flash-card{
    height: 325px;
  }
  .reset-text{
    margin-top: 5%;
  }
}